<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
        	<span class="icon icon-cog">Neuron</span>
		</div>
		<div id="menu">
			<ul>

				<li class="active"><a href="#" accesskey="1" title="">Terapia N°0000</a></li>
								
			</ul>
		</div>
	</div>
</div>
<div class="wrapper">

    <div id="two-column" class="container">
		<div><span class="arrow-left"></span></div>
		<div class="column1">
		     <div id="tbox1">
			 <form method="POST">
	     
			<br><label valing="middle">Fecha </label><input type="text">
			<br><br><label valing="middle">Duración </label><input type="text">
			<br><br><label valing="middle">Observación </label><input type="text">
			<br><br><label valing="middle">Tipo de Terapia(ID 0000) </label><input type="text">
			<br><br><label valing="middle">Terapeuta(ID 0000) </label><input type="text">
			<br><br><label valing="middle">Código del Centro Médico(ID 0000) </label><input type="text">
		
			<br><br><input type= "submit" value="Salir" id="textsend"><br><br>
		 </div>
		</div> 
			
		<div class="column1">
		<div id="tbox2">
			<br><div id="icon"  align="right"><img src="https://emotiv-website-uploads-live.s3.amazonaws.com/uploads/2017/07/EmotivPRO_2.png" width="1000" height="700" alt="" /></div>
		    <a href="#" class="button">Siguiente</a> 
			</div>
		</div>
	</div>	
</div>
</body>
</html>
